# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/key.properties
android/local.properties
android/.idea/
*.iml

# iOS
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.idea/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/.symlinks/
macos/.idea/
flutter/

# Web
web/.dart_tool/

# Windows
windows/Flutter/ephemeral/
windows/.idea/

# Linux
linux/Flutter/ephemeral/
linux/.idea/

# VSCode
.vscode/
.idea/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# JetBrains (Android Studio, IntelliJ)
*.iml
*.ipr
*.iws
.idea/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Misc
*.log
*.DS_Store
*.lock
*.bak
*.swp

# Keys / secrets (if used)
secrets.env
.env
